body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }

header {
  background-image: url(../img/cupcake-background.jpg);
  /* background-size: auto; */
  background-size: cover;
  height: 426px;
  opacity: 0.5;
}

header {
  padding: 100px;
}

.flashy {
  color: red;
  font-style: italic;
}

.header {
  opacity: 1;
}

ul {
  list-style-type: none;
}

li {
  line-height: 30px;
}

p {
  font-size: 1.25em;
}

.best {
  font-weight: bold;
}

.top {
  background-color: pink;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom {
  padding: 30px;
}

a:link {
  color: red;
}

a:visited {
  color: pink;
}

a:hover {
  color: red;
}

a:active {
  color: lightblue;
}
